extends layout

block content
  <div class="container-fluid">
    <p>Course page</p>
  </div>
  <div class="container-fluid">
    h2="overallInstructor"
    <table id="OverallInstructors" class="display" cellspacing="0"></table>
  </div>

  <div class="container-fluid">
    h2="umiInstructor"
    <select id="umiInstructorFilter" class="selectpicker" data-live-search="true">
    </select>
    <table id="UMIInstructors" class="display" cellspacing="0"></table>
  </div>

  <div class="container-fluid">
    h2="coursePerformance"
    <select id="cpInstructorFilter" class="selectpicker" data-live-search="true">
    </select>
    <select id="cpQuestionFilter" class="selectpicker">
      <option>UMI1</option>
      <option>UMI2</option>
      <option>UMI3</option>
      <option>UMI4</option>
      <option>UMI5</option>
      <option>UMI6</option>
    </select>
    <table id="CoursePerformance" class="display" cellspacing="0"></table>
    </div>
  </div>