extends layout

block content
  <div class="container-fluid">
    <p>Export Report</p>
    <div class="form-group">
      <select id="export-from-year">
      </select>
      <select id="export-to-year">
      </select>
      <select id="export-dept">
      </select>
    <button type="button" class="btn btn-default" id="export-button">Get Data</button>
    </div>
  </div>