extends layout

block content
  <div class="container-fluid">
    <p>Export Report</p>
    input(type="text" id="export-start-year" placeholder="Start Year")
    input(type="text" id="export-end-year" placeholder="End Year")
    input(type="text" id="export-dept" placeholder="Dept")
    button(id="export-button")
  </div>