doctype html
html
  head
    title= title
    if append === undefined
      - append = ''
    link(rel='stylesheet', href= append + '/styles/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" async>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" async></script>
    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.16/css/dataTables.semanticui.min.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/rowgroup/1.0.2/css/rowGroup.dataTables.min.css")
    script(src="https://cdn.datatables.net/rowgroup/1.0.2/js/dataTables.rowGroup.min.js")
    script(src= append + "/scripts/bundle.js")
  body
    block content
