doctype html
html
  head
    title= title
    if append === undefined
      - append = ''
    link(rel='stylesheet', href= append + '/styles/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src= append + "/scripts/bundle.js")
  body
    block content
