body {
  padding: 50px;
  font: 14px sans-serif;
}

a {
  color: #00B7FF;
}

.bar-chart-bar {
  background-color: #e8e8e8; 
  display: block; 
  position:relative; 
  width: 100%; 
  height: 20px; 
}
.bar {
  background-color: steelblue;
  float: left; 
  height: 100%; 
}

.bar:hover {
  fill: brown;
}