body {
  padding: 50px;
  font: 14px sans-serif;
}

a {
  color: #00B7FF;
}

.bar-chart-bar {
  background-color: #e8e8e8; 
  display: block; 
  position:relative;
  float: right; 
  width: 90%; 
  height: 20px; 
}
.bar {
  background-color: steelblue;
  float: left; 
  height: 100%; 
}

.bar:hover {
  fill: brown;
}

.line {   
  height: 30px;
  width: 0;
  border: 0;
  border-left: 3px;
  top: -20%;
  border-style: dotted;
  color: #ccc;
  z-index: 1;
  position: relative;
}

.line:hover .tooltiptext {
  visibility: visible;
}

.line .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 2;
}